Java Basic/src/resources/lessons.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="lessons" type="lessonsType"/>
  <xs:complexType name="scopeType">
    <xs:sequence>
      <xs:element type="xs:string" name="topic" maxOccurs="10" minOccurs="1"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="lessonType">
    <xs:all>
      <xs:element type="xs:string" name="title"/>
      <xs:element type="xs:string" name="course"/>
      <xs:element type="scopeType" name="scope"/>
    </xs:all>
  </xs:complexType>
  <xs:complexType name="lessonsType">
    <xs:sequence>
      <xs:element type="lessonType" name="lesson" maxOccurs="unbounded" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
</xs:schema>